{% load cms_tags sekizai_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}7owls{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans 'Система управления проектами' %}">
    <meta name="author" content="{% trans 'Oleh Korkh' %}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The styles -->       
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!--<link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less">-->

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap_01.css" rel="stylesheet">
    <!--<script src="{{ STATIC_URL }}js/less.js"></script>-->
    {% render_block "css" %}
    {% block head %}{% endblock %}
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
  </head>
  <body>

{% cms_toolbar %}

<div class="container">
  <div class="hidden-phone hidden-tablet" style="margin-top:60px;"></div>
    
{% if messages %}
  {% for m in messages %}
  <div class="msg-alert alert alert-{% if m.tags == 'error' %}error{% else %}info{% endif %}">
    <a class="close" data-dismiss="alert" href="#">×</a>
    {{ m }}
  </div>
  {% endfor %}
  <script type="text/javascript">
    $('.msg-alert').delay(5000).hide(1);
  </script>
{% endif %}

{% placeholder top_content %}

{% block base_content%}{% endblock %}

{% placeholder bottom_content %}

<footer>
  <div class="page-header"></div>
  <p>&copy; <a href="http://the7bits.com/" target="blank">7bits</a> 2011-2012 | <a href="mailto:support@7owls.com">support@7owls.com</a></p>

</footer>

</div> <!-- /container -->

<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-datepicker.js"></script>
{% render_block "js" %}
{% block finish %}{% endblock %}
</body></html>

