{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    <ul>
    {% if page_obj.has_previous %}
        <li class="prev"><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}">&larr; {% trans "Назад" %}</a></li>
    {% else %}
        <li class="prev disabled"><a href="#">&larr; {% trans "Назад" %}</a></li>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="active"><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
            {% else %}
                <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="disabled"><a href="#">...</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="next"><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}">{% trans "Вперед" %} &rarr;</a></li>
    {% else %}
        <li class="next disabled"><a href="#">{% trans "Вперед" %} &rarr;</a></li>
    {% endif %}
    </ul>
</div>
{% endif %}
